/bin/
.idea/
/.settings/
/.classpath
/.project
/workflowSim.iml
evaluation_logs/
evaluation_results/
evaluation_inputs
evaluation_run_configs/
evaluation_synthetic_wfs/
grid_search_logs/
grid_search_results/
grid_search_inputs
grid_search_run_configs
grid_search_synthetic_wfs/
plots/
__pycache__